*{
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: lightgray;
}

.box{
    border-left: 5px solid;
    padding: 3px 25px;
    margin: 8px 16px;
    width: 350px;
    display: inline-block;
}

h2{
    margin-bottom: 20px;
    font-size: 40px;
}