@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
}
body, button{
    font-family: "Rubik", sans-serif;
}

header{
    position: sticky;
    top: 0px;
}

.header-main{
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background: rgb(102, 202, 102);
    position: sticky;
    top: 0px;
    width: 100%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
    z-index: 1;
}

.header-main-logo{
    display: flex;
    gap: 30px;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    width: 200px;
}

.header-main-links{
    display: flex;
    gap: 30px;
}

.header-main-links a{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 16px;
    text-decoration: none;
    gap: 5px;
}

.login{
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    background: #70C05B;
    border: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.login span{
    padding: 0 10px;
}