:root{
    --bg-color: white;
    --contrast-color: darkgreen;
    --text-color: #333;
}

.dark-theme{
    --bg-color: #333;
    --contrast-color: darkcyan;
    --text-color: white;
}

body {
    background: var(--bg-color);
    margin: 8px;
    font-family: sans-serif;
}

.accordeon {
    border: 1px solid black;
    max-width: 600px;
}

.accordeon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: var(--contrast-color);
    color: white;
}

.accordeon-btn {
    background: transparent;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.5s;
}

.accordeon-btn-open {
    transform: rotateZ(180deg);
}

.accordeon-body {
    padding: 0px 20px;
    height: 0px;
    transition: height 0.5s;
    overflow: hidden;
    color: var(--text-color);
}

.accordeon-body-open {
    height: unset;
    padding: 20px;
}

#change-theme{
    margin: 20px 0px;
    pad: 10px 20px;
    background: var(--contrast-color);
    color: white;
    cursor: pointer;
}