* {
    box-sizing: border-box;
}

body {
    background: black;
    padding: 20px;
    height: 100vh;
}

.gallery {
    display: grid;
    height: 100%;
    grid-template-columns: 9fr 1fr;
    gap: 15px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-pictures {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.gallery-pictures img {
    width: 100%;
    filter: grayscale(1);
    transition: 0.3s;
    cursor: pointer;
}

.gallery-pictures img:hover {
    filter: grayscale(0);
}