body {
    font-family: Arial;
}

.hero {
    height: 400px;
    background: linear-gradient(darkcyan, darkblue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    background: white;
    padding: 20px 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

h1 {
    font-size: 72px;
    font-weight: bold;
}

button {
    border: black solid 1px;
    background: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
}

.hero {
    position: relative;
    overflow: hidden;
}

.box {
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    border-radius: 10px;
}

.box-1 {
    width: 100px;
    height: 100px;
    left: 10px;
    top: 120%;
    animation: translate 10s infinite linear;
}

.box-2 {
    width: 300px;
    height: 300px;
    right: 30px;
    top: 120%;
    animation: translate 30s infinite linear;
}

@keyframes translate {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(-800px) rotate(360deg);
    }
}